body{
  font-family: 'Heebo', sans-serif;
}

.navbar{
  height: 40px;
  margin: 0px auto 0px auto;
  width: 900px;
  display: flex;
  box-shadow: 2px 2px 5px rgb(88, 88, 88);
  padding: 2px;
}

.home-div{
  margin: 20px auto 0px auto;
  border: 3px solid black;
  width: 1000px;
  height: 300px;
  text-align: center;
  background-color: whitesmoke;
  font-size: 30px;
}

.home-me{
  width: 1100px;
  margin: 40px auto 0px auto;
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
}

.home-titles{
  text-align: center;
  font-weight: 700;
}

.contact-logos{
  width: 80px;
  height: auto;
}

.project-item{
  height: 250px;
  width: 300px;
  border: 2px solid black;
  margin: 20px;
  text-align: center;
  background-color: darkgrey;
}

.project-container{
  display: flex;
  justify-content: center;
}

.take-me{
  width: 250px;
}

.contact-item{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  margin: 20px;
}

.contact-container{
  display: flex;
  justify-content: center;
}

.contact-info{
  font-size: 15px;
}

.mars-pic{
  width: 255px;
}

.nav-button{
  height: 35px;
  width: 90px;
  background-color: honeydew;
  margin: 3px;
  border: 3px solid black;
}

.nav-button:hover{
  animation: fadeOut 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to{
    opacity: 0.5;
  }
}